body  {
    background-color: antiquewhite;
    margin: 0;
}
.heading {
    width: 100%;
    text-align: center;
}
#input, #output {
    position: absolute;
    width: 95%;
    height: 20%;
    font-size: 20px;
    margin: 10px 0;
    resize: none;
    left: 2.5%;
    background-color: lightpink;
    border-radius: 7px;
    color: black;
}
#input {
    top: 20%;
}
#output {
    top: 50%;
}
#switch {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.error {
    color: red;
    font-weight: bold;
    border: 5px solid red;
}

#language, #language2 {
    text-align: center;
    position: absolute;
    width: 95%;
    font-size: 16px;
    padding: 5px;
    left: 2.5%;
    transform: translateY(-50%);
    border: solid 1px gray;
    border-radius: 5px;
    background-color: lightgray;
}

#language {
    top: 15%;
}

#language2 {
    top: 47.5%;
}