body  {
    background-color: antiquewhite;
    margin: 0;
}
.heading {
    width: 100%;
    text-align: center;
}
#input, #output {
    position: absolute;
    width: 95%;
    height: 200px;
    font-size: 20px;
    margin: 10px 0;
    resize: none;
    left: 2.5%;
}
#input {
    top: 20%;
}
#output {
    top: 50%;
}
#switch {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.error {
    color: red;
    font-weight: bold;
    border: 5px solid red;
}